UseTab: Never
IndentWidth: 4
PointerAlignment: Left
BinPackArguments: False
InsertNewlineAtEOF: True
AccessModifierOffset: -4
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeComma
WrapNamespaceBodyWithEmptyLines: Always
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments:
  Enabled: true
AllowShortCaseLabelsOnASingleLine: True
AlignConsecutiveShortCaseStatements:
  Enabled: True
AlignArrayOfStructures: Right
AlignConsecutiveDeclarations: Consecutive
ColumnLimit: 120
